.course-main-div{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card{
    width: 300px;
    border: 1px solid grey;
    border-radius: 30px;
    padding: 30px;
}

.card-div{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.card-price{
    font-style: italic;
    color: red;
}

.card-title{
    color: cornflowerblue;
}

.card-delete-btn{
    width: 100px;
    padding: 10px;
    border-radius: 30px;
    background-color: blueviolet;
    color: white;
    border: none;
}

.refresh-div{
    display: flex;
    flex-direction: column;
    align-items: center;
}
